# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
/plugins/
hooks/
.sass-cache/
e2e/build
.idea/
e2e
node_modules
res
scss
.bowerrc
.jshintrc
.travis.yml
bower.json
gulpfile.js
ionic.project
karma.comf.js
LICENSE
NOTICE
package.json
README.md
upgrade.txt

