# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
/plugins/
hooks/
www/build
.sass-cache/
e2e/build
.ides
e2e
hooks
node_modules
platforms
plugins
res
scss


